:root {
  --color-primary: #999999;
  --color-black: #000000;
  --color-main-box-shd: 0px -30px 40px rgba(0, 0, 0, 0.2);
  --color-box-shd: 0px 8px 24px rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;
  --color-txt-loc: #0DA0EA;
  --color-bgc-loc: rgba(13, 159, 234, 0.08);
  --color-cell-dwn: #666666;
  --color-info-weath: #444444;
}
